//colors
$yellow: #FED600;
$grey: #9E9E9E;
$greySmallText: #C4C4C4;
$darkGreyText: #4D4D4D;
$borderButton: #E5E5E5;
$red: #D2001C;
$white: #FFFFFF;
$ghost: #BDBDBD;
$overlay: rgba(0, 0, 0, 0.7);


//fonts
$SFDisplay: 'SF Pro Display', sans-serif;
$SFText: 'SF Pro Text', sans-serif;

//media 
$lg: 1024px;
$md: 768px;
$sm: 576px;
$m: 320px;
