.buttons-arrow__btn {
    width: 40px;
    height: 40px;
    border: 1px solid $borderButton;
    border-radius: 4px;
    background-color: $white;
    color: $darkGreyText;
    font-size: 20px;
    @media (max-width: $sm) {
        font-size: 15px;
        width: 25px;
        height: 25px;           
    }
}

.buttons-arrow__btn_left {
    margin-right: -4px;
}